body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-right:  solid #ccc;*/
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100%; /* Take up the full width of the left section */
  height: 100%; /* Take up the full height of the left section */
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 100%;
  max-height: 100%; /* Adjust the video height to fit within the container */
  width: auto;
  height: auto;
}

.login-form {
  text-align: center;
}

input[type="email"],
input[type="password"],
button {
  padding: 8px;
  margin: 5px;
  width: 200px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.options a {
  text-decoration: none;
  color: #007bff;
}

